@model Lab_1.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">


    <div class="col-md-4">

    </div>

    <div class="col-md-4 div-neumorphism">
        <h1>
            Форма регистрации
        </h1>
        <h5>
            Создайте свой аккаунт. Это займет минуту вашего времени.
        </h5>
        <br />
        

        @{ Html.BeginForm("Register", "Register", FormMethod.Post, new { @class = "form-sign-in" });}
        <div class="form-group">
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login, new { @class = "form-elem form-control center-block" })
            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-elem form-control center-block" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-elem form-control center-block" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PasswordRepeat)
            @Html.TextBoxFor(m => m.PasswordRepeat, new { @class = "form-elem form-control center-block" })
            @Html.ValidationMessageFor(m => m.PasswordRepeat, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Age)
            @Html.TextBoxFor(m => m.Age, new { @class = "form-elem form-control center-block" })
            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
        </div>


        <br />
        <button type="submit" id="register_button" class="form-elem btn btn-primary">Зарегистрироваться</button>
        <br />
        <p>Уже есть аккаунт?</p>
        <button type="button" id="signIn_button" class="form-elem btn btn-secondary" onclick="location.href='@Url.Action("Index", "SignIn")'">Войти</button>
        @{ Html.EndForm();}
    </div>


  

    @Html.DisplayForModel()

    <div class="col-md-4">
    </div>
</div>

