@model Lab_1.Models.User
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">


    <div class="col-md-4">

    </div>

    <div class="col-md-4 div-neumorphism">
        <h1>
            Добро пожаловать!
            
        </h1>
        <h5>
            Войдите в уже существующий аккаунт или зарегистрируйте новый.
        </h5>
        <br />

        @{Html.BeginForm("Index", "SignIn", FormMethod.Post, new { @class = "form-sign-in" }); }
        <div class="form-group">
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login, new { @class = "form-elem form-control center-block" })
            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-elem form-control center-block" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <button type="submit" id="login_button" class="form-elem btn btn-primary">Войти</button>
        <br/>
        <button type="button" id="signIn_button" class="form-elem btn btn-secondary" onclick="location.href='@Url.Action("Register","Register")'">Зарегистрироваться</button>
        @{Html.EndForm();}
    </div>

    <div class="col-md-4">
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}